body {
  background-color: #f5e8df; 
  margin: 0;
  padding: 0;
}
  


.hero-content {
  position: relative;
  background-color: #7a2926; 
  width: 100%;
  height: 240px; 
}

.logo-pic{
  position: absolute;
  margin-top: 10px;
  width: 60px;
  margin-left: 50px;
}

.logo-name{
  position: absolute;
  margin-top: 20px;
  width: 140px;
  margin-left: 110px;
}
.logo-texts {
  position: absolute;
  top: 10px;
  right: 100px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.logo-text {
  color: rgb(240, 231, 217);
  font-size: 18px;
}

.burger {
  position: absolute;
  right: 170px;   
  bottom: -120px; 
  width: 300px;  
}

.head-line{
  position: absolute;
  top: 70px;      
  left: 60px;      
  color: #f1e3d0;       
}
.head-line h1 {
  font-size: 40px;     
  line-height: 1.1; 
  font-weight: 700;  
  margin: 0;         
}
.head-line p {
  font-size: 22px;
  margin-top: 15px;   
  font-weight: 300;
}

.head-buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-left:400px ;
  margin-top: 60px;
}
.order-btn {
  background-color: #e4c18b;
  padding: 12px 28px;
  border-radius: 30px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.menu-btn {
  background-color: #ffffff;
  padding: 12px 28px;
  border-radius: 30px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.head-text {
  position: absolute;
  top: 100px;
  left: 60px;
  color: white;
}


