body {
    margin: 0;
    padding: 0;
    background-color: #F3EADD;
    font-family: 'Cairo', sans-serif;
}

.menu-title {
    font-family: 'Alfa Slab One';
    font-size: 90px;       
    font-weight: bolder;
    color: #6C2829;
    text-align: center;
    margin-top: 150px;
    text-shadow: 1px 1px 0 #4a1c1d;
}

.search-bar {
    width: 90%;                
    max-width: 600px;            
    height: 95px;               
    background-color: #6c2a2b;    
    border-radius: 50px;         
    margin: 20px auto;
    display: flex;
    align-items: center;
    padding: 0 70px;  
               
}

.search-bar input {
    flex-grow: 1;                 
    margin: 0 12px;             
    border: none;
    outline: none;
    background: none;
    font-size: 40px;
    font-family: 'Cairo', sans-serif;
}

.search-bar input::placeholder {
    color: white;
}

.icon-left {
    width: 100px;
    margin-left: -60px;
}

.icon-right{
    width: 100px;
    margin-right: -60px;
}

.categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
    padding: 10px 20px 120px; 
    margin-top: 90px; 
    margin-left: 40px;
}

.category-box {
    background-color: #e0d1c0;
    border-radius: 15px;
    padding: 10px 1px;
    text-align: center;
    margin-bottom: 100px;
    width: 400px;
    height: 350px;

}

.category-img-box {
    width: 20px;
    height: 210px;
    margin: 0 auto 10px;          
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-icon {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;          
}

.category-box h3 {
    font-family: 'Alfa Slab One';
    font-size: 18px;
    color: #8a3b15;
    margin: 0;
}

.category-box p {
    font-family: 'Cairo';
    font-size: 13px;
    color: #5a3925;
    margin-top: 4px;
}























.bottom-nav {
    position: fixed;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 230px;
    background-color: #F3EADD;   
    border-top: 2px solid #484747; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-item {
    text-align: center;
}

.nav-item img {
    width: 90px;    
}

.nav-item p {
    margin: 10px 0 0;
    font-size: 50px;
    color: #7A3B27;   
    font-family: 'Cairo', sans-serif;
    margin-bottom: -30px;
}


.home-btn img {
    width: 150px;
    height: 150px;
    background-color: #6D1E1F;
    padding: 12px;
    border-radius: 50%;
    margin-top: -70px;
}

