/* ======================================================= */
/* === BASE STYLES (Applies to all screens by default) === */
/* ======================================================= */

/* --- GENERAL --- */
body {
    margin: 0;
    padding: 0;
    background-color: #F3EADD;
    font-family: 'Cairo', sans-serif;
}

/* --- MENU/BROWSE PAGE STYLES --- */
.menu-title {
    font-family: 'Alfa Slab One';
    font-size: 90px;
    font-weight: bolder;
    color: #6C2829;
    text-align: center;
    margin-top: 150px;
    text-shadow: 1px 1px 0 #4a1c1d;
}

.search-bar {
    width: 90%;
    max-width: 600px;
    height: 95px;
    background-color: #6c2a2b;
    border-radius: 50px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    padding: 0 70px;
}

.search-bar input {
    flex-grow: 1;
    margin: 0 12px;
    border: none;
    outline: none;
    background: none;
    font-size: 40px;
    font-family: 'Cairo', sans-serif;
}

.search-bar input::placeholder {
    color: white;
}

.icon-left {
    width: 100px;
    margin-left: -60px;
}

.icon-right{
    width: 100px;
    margin-right: -60px;
}

.categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
    padding: 10px 20px 120px;
    margin-top: 90px;
    margin-left: 40px;
}

.category-box {
    background-color: #e0d1c0;
    border-radius: 15px;
    padding: 10px 1px;
    text-align: center;
    margin-bottom: 100px;
    width: 400px;
    height: 350px;
}

.burger {
    width: 300px;
    margin-top: -130px;
}

.burger-link {
    text-decoration:underline;
    color:#1349be;
    display:block;
}

.dessert {
    width: 300px;
    margin-top: -130px;
}

.drink {
    width: 250px;
    margin-top: -5px;
}

.side {
    width: 400px;
    margin-top: -10px;
    margin-left: -20px;
}

.salad {
    width: 350px;
    margin-top: -10px;
}

.cake {
    width: 250px;
    margin-top: -40px;
}


.burger-text h3 {
    font-family: 'Alfa Slab One';
    font-size: 60px;
    color: #C16E0D;
    margin-top: -50px;
}

.burger-text p {
    font-family: 'Cairo';
    font-size: 40px;
    color: #6c2829;
    margin-top: -62px;
}

.dessert-text h3 {
    font-family: 'Alfa Slab One';
    font-size: 60px;
    color: #C16E0D;
    margin-top: -89px;
}

.dessert-text p {
    font-family: 'Cairo';
    font-size: 40px;
    color: #6c2829;
    margin-top: -62px;
}

.drink-text h3 {
    font-family: 'Alfa Slab One';
    font-size: 60px;
    color: #C16E0D;
    margin-top: -20px;
}

.drink-text p {
    font-family: 'Cairo';
    font-size: 40px;
    color: #6c2829;
    margin-top: -62px;
}

.side-text h3 {
    font-family: 'Alfa Slab One';
    font-size: 60px;
    color: #C16E0D;
    margin-top: -20px;
}

.side-text p {
    font-family: 'Cairo';
    font-size: 40px;
    color: #6c2829;
    margin-top: -67px;
}

.salad-text h3 {
    font-family: 'Alfa Slab One';
    font-size: 60px;
    color: #C16E0D;
    margin-top: -30px;
}

.salad-text p {
    font-family: 'Cairo';
    font-size: 40px;
    color: #6c2829;
    margin-top: -56px;
}

.cake-text h3 {
    font-family: 'Alfa Slab One';
    font-size: 60px;
    color: #C16E0D;
    margin-top: -15px;
}

.cake-text p {
    font-family: 'Cairo';
    font-size: 40px;
    color: #6c2829;
    margin-top: -62px;
}

.bottom-nav {
    position: fixed;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 230px;
    background-color: #F3EADD;
    border-top: 2px solid #484747;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-item {
    text-align: center;
}

.nav-item img {
    width: 90px;
}

.nav-item p {
    margin: 10px 0 0;
    font-size: 50px;
    color: #7A3B27;
    font-family: 'Cairo', sans-serif;
    margin-bottom: -30px;
}

.home-btn img {
    width: 150px;
    height: 150px;
    background-color: #6D1E1F;
    padding: 12px;
    border-radius: 50%;
    margin-top: -70px;
}

/* --- ITEM PAGE STYLES --- */
.item-page {
    background-color: #f4e5d1;
    margin: 0;
    padding: 0;
}

.top-bar {
    padding: 40px;
}

.back-arrow {
    width: 80px;
}

.back-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 20px 20px;
}

.back-icon {
    width: 50px;
    margin-right: 15px;
}

.back-text {
    font-family: 'Cairo', sans-serif;
    font-size: 45px;
    color: rgb(54, 13, 4);
    text-decoration: underline;
}


.burger-img {
    width: 600px;
    display: block;
    margin: 0 auto;
    margin-top: -160px;
}


.burger-title {
    font-family: 'Alfa Slab One';
    font-size:100px;
    color: #C16E0D;
    text-align: center;
    margin-top: -230px;
}


.burger-desco {
    font-family: 'Cairo';
    font-size: 60px;
    color: #260c09;
    padding: 0 70px;
    margin-top: 20px;
    margin-left: 30px;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 20px;
}

.total-price-label {
    font-size: 60px;
    color: #421714;
    margin-top: -150px;
    margin-left: 600px;
}

.total-price {
    font-size: 66px;
    font-weight: bold;
    color: #1fa012;
    margin-left: 600px;
    margin-top: -30px;
}

.add-btn-img{
    width: 300px;
    margin-left: 100px;
    margin-top: 30px;
}

.add-cart-img{
    width: 830px;
    margin-left: 60px;
    margin-top: 70px;
}

/* --- SHOPPING CART STYLES --- */

.cart-box{
    width: 90%;
    max-width: 700px;
    background: white;
    border-radius: 20px;
    margin: 1px auto;
    padding: 250px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}

.back-button {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top: -420px;
}

.back-icon {
    width: 70px;
    height: auto;
    margin-left: 50px;
}

.back-text {
    font-family: 'Alfa Slab One';
    font-size: 50px;
    color: #511212;
    margin-left: 40px;
}

.burger-top-img {
    width: 550px;
    margin-top: -120px;
    margin-left: 650px;
}

.price-wrapper {
    position: absolute;
    top: 210px;
    right: 240px;

}

.price-number {
    font-family: 'Alfa Slab One';
    font-size: 90px;
    color: #9d0909;
    font-weight: bolder;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.25);
}

.price-eur {
    font-family: 'Alfa Slab One';
    font-size: 70px;
    color: #4f0a0a;
    font-weight: bolder;
    margin-top: 8px;
    margin-left: 30px;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.25);
}

.burger-title-text {
    font-family: 'Alfa Slab One';
    font-size: 80px;
    color: #C16E0D;
    font-weight: bold;
    margin-top: -550px;
    margin-left: 25px;
}

.personalize-title {
    font-family: 'Cairo', sans-serif;
    font-size: 50px;
    color: #5a3818;
    margin-top: 90px;
    margin-left: 25px;
    font-weight: bold;
}

.ingredient-box {
    background: #ffffff;
    border-radius: 15px;
    padding: 20px;
    margin: 100px -50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    margin-left: 70px;
}

.butter{
    width: 170px;
    border-radius: 10px;
    margin-right: 15px;
    margin-top: -50px;
}

.sauce{
    width: 150px;
    border-radius: 10px;
    margin-right: 15px;
    margin-top: -20px;
}

.cheddar{
    width: 140px;
    border-radius: 10px;
    margin-right: 15px;
    margin-top: -20px;
}

.pepper{
    width: 140px;
    border-radius: 10px;
    margin-right: 15px;
    margin-top: -20px;
}

.ingredient-name {
    font-family: 'Cairo';
    font-size: 47px;
    color: #340505;
    flex-grow: 1;
}

.ingredient-counter {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 15px;
}

.counter-btn {
    width: 230px;
    margin-top: 20px;
}


.ingredient-price {
    font-family: 'Cairo';
    font-size: 40px;
    color: #3f0303;
    font-weight: bold;
}



.show-more {
    width: 100%;
    background-color: #e5d8c4;
    text-align: center;
    padding: 25px 1px;
    font-family: 'Alfa Slab One';
    font-size: 60px;
    color: #5a3818;
    margin-top: 20px;
    margin-bottom: 100px;
    margin-left: 80px;
}


.pickup-box {
    background-color: #6D1E1F;
    color: #f3eadd;
    font-family: 'Cairo', sans-serif;
    font-size: 45px;
    text-align: center;
    padding: 25px 0;
    width: 90%;
    margin: 20px auto;
    border-radius: 35px;
    margin-left: 120px;
    margin-top: -70px;
}

.price-section {
    width: 90%;
    margin: 30px auto;
    margin-left: 120px;
    margin-top: 90px;
}

.price-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
    font-family: 'Cairo', sans-serif;
    font-size: 50px;
    color: #6D1E1F;
}

.price-line {
    width: 100%;
    height: 2px;
    background-color: white;
}


.checkout-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6D1E1F;
    width: 90%;
    padding: 25px 0;
    margin: 40px auto;
    border-radius: 35px;
    text-decoration: none;
    margin-left: 140px;
    margin-bottom:70px;
}

.checkout-cart-img {
    width: 90px;
    height: auto;
    margin-right: 25px;
}

.checkout-text {
    font-family: 'Alfa Slab One';
    font-size: 65px;
    color: #f3eadd;
}


/* ======================================================= */
/* === RESPONSIVE DESIGN (Media Queries) === */
/* ======================================================= */

/* --- TABLET/LARGER PHONE ADJUSTMENTS (Max 1024px) --- */
@media (max-width: 1024px) {
    /* --- MENU/BROWSE --- */
    .menu-title {
        font-size: 80px;
        margin-top: 100px;
    }

    .search-bar {
        height: 75px;
        padding: 0 40px;
    }
    .search-bar input {
        font-size: 30px;
    }
    .icon-left, .icon-right {
        width: 80px;
    }

    .categories {
        gap: 15px;
        padding: 10px 10px 100px;
        margin-top: 60px;
        margin-left: 0;
        justify-content: center;
    }

    .category-box {
        width: 450px; /* Let's keep a defined width for tablets */
        height: 320px;
        margin-bottom: 70px;
    }

    /* Category Images */
    .burger, .dessert { width: 250px; margin-top: -110px; }
    .drink { width: 200px; margin-top: -5px; }
    .side { width: 300px; margin-left: -10px; }
    .salad { width: 250px; }
    .cake { width: 200px; margin-top: -30px; }


    /* Category Text - reduce font sizes */
    .burger-text h3, .dessert-text h3, .drink-text h3, .side-text h3, .salad-text h3, .cake-text h3 {
        font-size: 45px;
    }
    .burger-text p, .dessert-text p, .drink-text p, .side-text p, .salad-text p, .cake-text p {
        font-size: 30px;
    }


    /* Bottom Navigation */
    .bottom-nav {
        height: 160px;
    }
    .nav-item img {
        width: 65px;
    }
    .nav-item p {
        font-size: 35px;
        margin-bottom: -20px;
    }
    .home-btn img {
        width: 120px;
        height: 120px;
        margin-top: -60px;
    }

    /* --- ITEM PAGE --- */
    .back-arrow { width: 60px; }
    .back-text { font-size: 35px; }
    .burger-img {
        width: 450px;
        margin-top: -100px;
    }
    .burger-title {
        font-size: 70px;
        margin-top: -150px;
    }
    .burger-desco {
        font-size: 40px;
        padding: 0 40px;
        margin-left: 0;
    }

    /* Price and Add Button */
    .total-price-label {
        font-size: 40px;
        margin-left: 300px;
        margin-top: -100px;
    }
    .total-price {
        font-size: 50px;
        margin-left: 300px;
        margin-top: -10px;
    }
    .add-btn-img {
        width: 250px;
        margin-left: 50px;
    }
    .add-cart-img{
        width: 90%;
        margin-left: 5%;
    }

    /* --- CART PAGE --- */
    .cart-box {
        padding: 150px 50px 50px;
        max-width: 90%;
    }
    .back-button {
        margin-top: -250px;
    }
    .back-icon { width: 50px; margin-left: 20px; }
    .back-text { font-size: 40px; margin-left: 20px; }

    .burger-top-img {
        width: 350px;
        margin-left: 450px;
        margin-top: -80px;
    }
    .price-wrapper {
        top: 150px;
        right: 100px;
    }
    .price-number { font-size: 70px; }
    .price-eur { font-size: 50px; }

    .burger-title-text {
        font-size: 60px;
        margin-top: -350px;
        margin-left: 20px;
    }
    .personalize-title { font-size: 40px; margin-left: 20px; margin-top: 50px; }

    /* Ingredients */
    .ingredient-box {
        margin: 70px -10px;
        margin-left: 20px;
        height: 80px;
    }
    .butter, .sauce, .cheddar, .pepper { width: 100px; }
    .ingredient-name { font-size: 35px; }
    .counter-btn { width: 150px; }
    .ingredient-price { font-size: 30px; }
    .show-more { font-size: 50px; margin-left: 20px; }

    /* Checkout */
    .pickup-box { font-size: 35px; padding: 20px 0; margin-left: 50px; margin-top: -50px; }
    .price-section { margin-left: 50px; margin-top: 60px; }
    .price-row { font-size: 40px; }
    .checkout-btn { margin-left: 50px; }
    .checkout-text { font-size: 50px; }
    .checkout-cart-img { width: 70px; }
}


/* --- STANDARD/LARGER PHONE ADJUSTMENTS (Max 768px - your original) --- */
@media (max-width: 768px) {
    /* --- MENU/BROWSE --- */
    .categories {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 0;
        justify-content: center;
    }

    .category-box {
        width: 100%; /* Adjust to fit within the grid column better */
        max-width: 350px;
    }

    .menu-title {
        font-size: 70px;
        margin-top: 120px;
    }

    .search-bar {
        height: 80px;
        border-radius: 40px;
        padding: 0 50px;
    }

    .bottom-nav {
        height: 180px;
    }

    .nav-item img {
        width: 70px;
    }

    /* --- ITEM PAGE --- */
    .burger-title { font-size: 55px; } /* From original .item-title */
    .burger-desco {
        font-size: 28px; /* From original .item-description */
        padding: 0 40px;
    }
    .burger-img { width: 350px; } /* From original .item-image */
    /* .add-cart-btn (was not used, but using .add-btn-img for reference): */
    .add-btn-img { width: 90%; max-width: 300px; margin: 20px auto; }


    /* --- CART PAGE (Existing 768px cleanup) --- */
    .cart-box { width: 95%; padding: 15px; }
    .burger-top-img { width: 180px; }
    .ingredient-box { height: 70px; }
    /* No .ingredient-icon in your provided CSS, so skipping */
    .checkout-btn { padding: 20px 0; }
    /* No .checkout-icon in your provided CSS, using .checkout-cart-img: */
    .checkout-cart-img { width: 70px; }
}


/* --- SMALL PHONE ADJUSTMENTS (Max 480px) --- */
@media (max-width: 480px) {
    /* --- MENU/BROWSE --- */
    .menu-title {
        font-size: 55px;
        margin-top: 80px;
    }

    .search-bar {
        height: 60px;
        padding: 0 25px;
    }
    .search-bar input {
        font-size: 20px;
    }
    .icon-left, .icon-right {
        width: 50px;
    }

    /* Switch to a single column layout */
    .categories {
        grid-template-columns: 1fr;
        padding: 10px 5px 100px;
        margin-left: 0;
    }

    /* Category Box: Center content */
    .category-box {
        width: 90%;
        max-width: 400px;
        margin: 0 auto 50px;
        height: 280px;
        padding: 5px;
    }

    /* Category Images: Adjust positioning for centering */
    .burger, .dessert { width: 220px; margin: -100px auto 0; display: block; }
    .drink, .side, .salad, .cake { width: 100%; max-width: 250px; margin: 0 auto; display: block; }

    /* Category Text - further reduce font sizes and adjust margins */
    .burger-text h3, .dessert-text h3, .drink-text h3, .side-text h3, .salad-text h3, .cake-text h3 {
        font-size: 40px;
        margin-top: -30px;
    }
    .burger-text p, .dessert-text p, .drink-text p, .side-text p, .salad-text p, .cake-text p {
        font-size: 25px;
        margin-top: -40px;
    }

    /* Bottom Navigation */
    .bottom-nav {
        height: 120px;
    }
    .nav-item img {
        width: 50px;
    }
    .nav-item p {
        font-size: 25px;
        margin-bottom: -10px;
    }
    .home-btn img {
        width: 90px;
        height: 90px;
        margin-top: -40px;
    }

    /* --- ITEM PAGE --- */
    .top-bar { padding: 20px; }
    .back-arrow { width: 40px; }
    .back-link { margin: 10px; }
    .back-text { font-size: 25px; margin-left: 20px; }

    .burger-img {
        width: 300px;
        margin-top: -50px;
    }
    .burger-title {
        font-size: 50px;
        margin-top: -100px;
    }
    .burger-desco {
        font-size: 28px;
        padding: 0 20px;
    }

    /* Stack Price and Add button vertically for narrow screens */
    .total-price-label, .total-price {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .add-btn-img {
        width: 90%;
        max-width: 350px;
        display: block;
        margin: 20px auto;
    }
    .add-cart-img{
        width: 90%;
        margin-left: 5%;
    }


    /* --- CART PAGE --- */
    .cart-box {
        padding: 100px 10px 10px;
    }
    .back-button {
        margin-top: -150px;
    }
    .back-icon { width: 40px; margin-left: 10px; }
    .back-text { font-size: 30px; margin-left: 10px; }

    /* Top image and price: hide or stack them */
    .burger-top-img {
        width: 150px;
        margin: -50px auto 0;
        display: block;
    }
    .price-wrapper {
        position: static;
        text-align: center;
        margin-top: 10px;
    }
    .price-number { font-size: 50px; }
    .price-eur { font-size: 30px; margin-left: 10px; }

    .burger-title-text {
        font-size: 40px;
        text-align: center;
        margin-top: 10px;
        margin-left: 0;
    }
    .personalize-title { font-size: 30px; text-align: center; margin-top: 30px; margin-left: 0; }

    /* Ingredients */
    .ingredient-box {
        margin: 40px 0;
        margin-left: 0;
        height: 60px;
        padding: 10px;
    }
    .butter, .sauce, .cheddar, .pepper { width: 80px; margin-right: 10px; }
    .ingredient-name { font-size: 25px; }
    .counter-btn { width: 100px; margin-top: 10px; }
    .ingredient-price { font-size: 25px; }
    .show-more { font-size: 30px; margin-left: 0; padding: 15px 1px; }

    /* Checkout */
    .pickup-box { font-size: 25px; padding: 15px 0; margin-left: 0; }
    .price-section { margin-left: 0; margin-top: 40px; }
    .price-row { font-size: 30px; }
    .checkout-btn { margin-left: 0; }
    .checkout-text { font-size: 40px; }
    .checkout-cart-img { width: 50px; }
}