



.boxcss{
   margin-left: 50%;
   margin-top: 30%;
    width: 200px;
    height: 200px;
    background-color: var(--var-color);
    /* transition-property: height background-color;
    transition-duration: 0.25s; */
    transition: all 0.5s linear cubic-bezier(0.075, 0.82, 0.165, 1);
    
    
}

.boxcss:hover{
    background-color: black;
    /* transform: translate(500px,100px);
    transform: rotate(18deg); */
    transform: rotate(10deg);
}
.anime{
    width: 100px;
    height: 100px;
  background-color: red;
  animation-name: boxmove;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction:alternate;
}

@keyframes boxmove {
  0%   {
    transform: translate(0px 0px);
  }
  25%  {
        transform: translate(200px 0px);
  }
  50%  { 
       transform: translate(2000px 200px);
    }
  100% {
        transform: translate(0px 200px);
  }
}

:root{
    --var-color:red;
}

