.Head-line {
  font-style: arial;
  font-size: 10px;
  text-align: center ;
}

table{
  width: 80%;
  margin: auto;
  padding-left: 300px;
  border: 1px solid black;
}

img{
  width: 88px;
}

p{
  font-size: 14px;
  position: 20px;
}