.mac {
    text-align:left ;
    margin: 100px;
}

.mac h1 {
    margin: 0px;
}
.mac p{
    margin: 0px;
    padding-top: 5px;
    color: gray;
}
#p2{
    margin: 0px;
    padding-top: 20px;
    color: gray;
}
.mac img{
    width: 100px;
}
#Button{
    margin-bottom:20px;
     width: 100px;
     text-align: center;
    padding: 5px 10px;
    background-color: rgb(3, 33, 198);
    color: white;
     border-radius: 5px;  
     margin-top: -90px;
     margin-left: 90px;
     
    
}