.container{
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  align-items: center;
  background-color: lightgray;
  padding: 20px;
  align-items: stretch;
  justify-content: center;

}

.card {
  background-color: white;
   display: flex;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: space-between;  
}

.card button{
  color: white;
  background-color: rgb(38, 106, 225);
}

.card h2{
  color: rgb(61, 147, 4);
}
.card img {
  width: 150px;
  height: 150px;
  border-radius: 5px;
}
.head{
  justify-content: center;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
  color: #333;
}



