#h2{
    color : red;
    font-size: 25px;
}
#h3{
    color:lightslategray;
    font-size: 15px;
}
label {
  position: relative;
  top: 40px;
  left: -100px;
  font-size: 10px;
}
th, td {
  padding: 8px;
  text-align: right; 
}
th:first-child,
td:first-child {
  text-align: left; 
}
thead{
    border-bottom: 1px solid red;  
}

td:nth-child(even),
th:nth-child(even) {
  background-color:rgba(41, 35, 3, 0.306);
}
tfoot{
    border-top: 1px solid rgb(18, 17, 17);  
}
