body {
  margin: 0;
  padding: 0;
  background-color: rgb(222, 245, 193);
  position: relative;

   
}


.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid rgb(226, 225, 225);
  padding: 0.1% 0.2%;
}

.container img {
  width: 1.6%;
  height: auto;
  margin-left: 7%;


}


.text {
  display: flex;
  flex-direction: row;   
  gap: 10%;
  font-size: 100%;
  margin-right: 64%;       
  margin-bottom: 0.5%;    
  color: #2e2e2f;  
  font-family: Arial, Helvetica, sans-serif;
}

.text p {
  position: relative;
}

.text p img {
  position: absolute;
  width: 12px;
  top: 30%;            
  left: 99%;
 
}


.sales {
  position: absolute;
  right: 43%;
  font-size: 100%;
  color: #2e2e2f;
}


.buttons button {
  padding: 0.2% 0.6%;
}



.buttons button:nth-child(1) {
  position: absolute;
  background-color: white;
  right: 38.3%;
  top: 2%;
  border-radius: 12%;
  padding: 0.3% 0.5%;

}
.buttons button:nth-child(2) {
  position: absolute;
  background-color: black;
  color: white;
  right: 27.2%;
  top: 2%;
  padding: 0.5% 0.8%;
  border: none;
  border-radius: 6%


}

.headline {
  margin-bottom: 3.5%;
  margin-left: 2%;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;


}

.headline h3 {
  font-size: 25px;
  margin-left: 5%;
  line-height: 13%;
  color: #2e2e2f;
}

.headline p {
  font-size: 25px;
  margin-left: 5%;
  line-height: 13%;
  color: #2e2e2f;
}

.page {
  position: absolute;
  top: 24%;  
  left: 7%;
  font-size: 18px;

}


.arrows {
  position: absolute;
  right: 23%;
  top: 27%;
  display: flex;
  gap:10px;
 

}

.arrows button {
  width: 25px;
  height: 25px;
  border-radius: 50%;       
  border: 1px solid #9b9999;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px; 
  cursor: pointer;
  background-color: rgb(222, 245, 193); 
  color: #717172;
  
}






.pictures {
  display: flex;
  justify-content: center;   
  align-items: flex-start;
  gap: 0%;                
  margin: 0 auto;         
  margin-top:5%;          
  width: 90%;               
}



.box {
  width: 32%;
  background: rgb(222, 245, 193);
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5px;
  
}





.box img {
    width: 100%;
  height: 240px; 
  object-fit: cover;
}


.box span {
  font-weight: normal; 
  margin-left: 4px;
}

.box h3 {
  margin: 0;
  font-size: 13px;
  font-weight: 600;
  margin-top: 2%;
  color: #2e2e2f;
  font-family: Arial, Helvetica, sans-serif;
}


.box p {
  margin: 0;            
  padding: 0;
  line-height: 140%;  
  font-size: 13px;
  margin-top: 1%;
  color: #2e2e2f;
  font-family: Arial, Helvetica, sans-serif;
 
  
}

.box a {
  display: inline-block;
  margin-top: 10px;     
  font-size: 16px;
  color: #2e2e2f;
  text-decoration: underline;
  margin-bottom: 20%;
  
}

.bottom-green {
  width: 100%;
  height: 35px;
  background-color:rgb(227, 255, 148);

}
